div
{
	text-align:center;
	
}
table
{
	color:white;
	font-size:18px;
	text-align:left;
}
input[type=text],#gender
{
	width:90%;
	padding:6px;
}

input[type=text]:hover,#gender:hover,input[type=submit]:hover,#address:hover
{
	background-color:#ccccff;
}
input[type=text]:focus,#gender:focus,#address:focus
{
	background-color:lightgray;
}
input[type=submit]
{
	width:250%;
	padding:7px;
	font-size:20px;
}

.img
{
	padding-bottom:30px;
	margin-left:50px;
	margin-right:50px;
	padding-right:50%;
	padding-left:50px;
}
td
{
	padding: 3px;
}
button
{
	text-align: right;
}
h1
{
	color:white;
}

body{
    background-image: url("../../assets/home/bg1.jpg");
    height: 1200px;
}
