<html>
<body>

    <nav class="navbar navbar-expand-lg  "style="background-color: #8B4513;" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand"  style="color:blue;font-size:20px ;">Over Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="/home"routerLinkActive="active"class="nav-link">Home</a>
            </li>
        
            <li class="nav-item">
              <a routerLink="/about1"routerLinkActive="active"class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact1"routerLinkActive="active"class="nav-link">Conatct</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search" id="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
              <li class="nav-item">
                  <a routerLink="/loginOption"routerLinkActive="active"class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/register"routerLinkActive="active"class="nav-link">Register</a>
                </li>
            </ul>
       
        </div>
      </div>
    </nav>

   <h1 style="color:white"> Our Company</h1>

    <section>
      <h3 style="text-align: center;color: white;">About Our Company</h3>
      <p style="color:white;text-align: center;">In 2023, <br>Welcome to our Laptop Shop, your ultimate destination for cutting-edge technology and premium computing solutions! Dive into a world of innovation where performance meets style, and explore our curated selection of laptops designed to elevate your digital experience. Whether you're a creative professional seeking powerhouse performance or a student in pursuit of reliability, we have the perfect laptop to match your needs.

        At our Laptop Shop, we pride ourselves on offering an extensive range of top-tier brands, each carefully chosen for their quality, durability, and advanced features. From sleek ultrabooks to high-performance gaming rigs, we have something to cater to every user, ensuring that you find the ideal device to fuel your passion and enhance your productivity.</p>
    </section>
    
      <section>
        <h3 style="color:white;text-align: center;">Our Top Brands</h3>
            <img src="../../assets/about/brand2.jpg" height="300px" width="100%">     
      </section>
    

 
    <footer>
      <p>Company @copyrights OurCompany. All rights reserved.</p>
    </footer>
   
  
    </body>
    </html> 