<nav class="navbar navbar-expand-lg  "style="background-color: #8B4513;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:blue;font-size:20px ;">Over Company</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home"routerLinkActive="active"class="nav-link">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="/"routerLinkActive="active"class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink=""routerLinkActive="active"class="nav-link">Conatct</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search" id="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
            <li class="nav-item">
                <a routerLink="/loginOption"routerLinkActive="active"class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/register"routerLinkActive="active"class="nav-link">Register</a>
              </li>
          </ul>
     
      </div>
    </div>
  </nav>