<html>
<body>

    <nav class="navbar navbar-expand-lg "style="background-color: #8B4513;"  data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:blue;font-size:20px ;">Our Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a routerLink="/adminHome"routerLinkActive="active"class="nav-link">Home</a>
              </li>
          
          
            <li class="nav-item">
              <a routerLink="/adminAbout"routerLinkActive="active"class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/adminContact"routerLinkActive="active"class="nav-link">Contact</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search" id="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
              <li class="nav-item"> 
                <a routerLink="/home"routerLinkActive="active"class="nav-link">Logout</a>
              </li>
              <li class="nav-item">
                <a routerLink="/deliveries"routerLinkActive="active"class="nav-link">Deliveries</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/adminGetProfile"routerLinkActive="active"class="nav-link">Profile</a>
                </li>
            
            </ul>
       
        </div>
      </div>
    </nav>
    <h1 style="color:white"> Our Company</h1>

    <section>
      <h3 style="text-align: center;color: white;">About Our Company</h3>
      <p style="color:white;text-align: center;">In 2023, <br>Honda recalled 500,000 vehicles in the United States and Canada due to an issue with seat belts in the<br> car not latching correctly. Among the models recalled were the 2017-2020 CR-V, the 2018 and 2019 Accord,<br> the 2018-2020 Odyssey, the 2019 Insight, and the Acura RDX from 2019 and 2020. According to the recall,<br> the seat belts in the front seats would break open on impact increasing the risk of injury in a crash.</p>
    </section>
    
      <section>
        <h3 style="color:white;text-align: center;">Our Top Brands</h3>
            <img src="../../assets/about/brand2.png" height="300px" width="100%">     
      </section>
    
    <footer>
        <p>Company @copyrights OurCompany. All rights reserved.</p>
      </footer>
      </body>
      </html>