<html>
    
<body>
    <div class="container">

    <h1>Forget Password Page</h1>
    <h4 style="text-align: right;color:green;">If you remember ,GoTo <button class="btn btn-primary" (click)="back()" >Login</button></h4>
        


    <form (ngSubmit)="f.form.valid&&OnSubmit()" #f="ngForm" novalidate >
        
        <div>
    <table class="container">
        <tr>
            <td rowspan="15">
                <img src="../../assets/login/loginIcon.png" alt="Image is Deleted" height="500" width="200">
            </td>
        </tr>  
        <!-- <tr>
            <td>You Not have an account Pleace </td>
            <td><button class="btn btn-primary" (click)="goToRegister()">Register</button></td>
        </tr>   -->
            
    <tr>
    <td>
    <label for="un">Email Id : </label>
    </td>
    </tr>
    <tr>
    <td>
    <input style="padding: 15px;border-radius: 20px;"type="text" id="un" name="un" placeholder="Email" required email [(ngModel)]="userEmail" #email="ngModel" /><br>
   <span class="text-danger" *ngIf="this.submit&&email.errors?.['email']">
    <p>Email must be in Formet</p>
   </span>
   <span class="text-danger" *ngIf="this.submit&&email.errors?.['required']">
    <p>Email is required</p>
   </span>
    </td>
    </tr>
    <!-- <tr>
    <td>
    <label for="pw">PassWord  : </label>
    </td>
    </tr>
    <tr>
    <td>
    <input type="password" id="pw" name="pw" placeholder="PassWord" required [(ngModel)]="password" /><br>
        
    </td>
    </tr> -->
    <tr>
    <td>
    <input type="submit" class="btn btn-primary" value="Next" (click)="submit=true"/>
    </td>
    <td>
        <button (click)="back()" class="btn btn-danger">Back</button>
    </td>
    </tr>
    <!-- <tr >
        <td style="text-align: right;padding-right: 20px;color:red">
            <h5>If you Don't Know <br>the PassWord try,</h5>
        </td>
        <td>
            <button (click)="goToForgetPassword()" class="btn btn-primary">Forget Password</button>
        </td>
        <td style="color:black;">.</td>
    </tr> -->
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <!-- <tr>
        <td style="color:black;">.</td>
    </tr> -->
    </table>
    </div>
    </form>
    </div>
    </body>
    </html>