<html>
    <body>
        
    <h1>Choose Your Option</h1>
    <div>
<table class="container">
    <tr>
    <td><button (click)="goToAdminRegister()">
        <img src="../../assets/AdminRegisterOption/adminIcon1.png" height="300" width="300"/>
        <br>Admin Register
    </button></td>
    <td><button (click)="goToUserRegister()">
        <img src="../../assets/AdminRegisterOption/userLogin.png" height="300" width="300"/>
        <br>User Register
    </button></td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>
    <tr>
        <td style="color: black;">.</td>
    </tr>

</table>
</div>

</body>
</html>
