<html>
<body>

    <nav class="navbar navbar-expand-lg "style="background-color: #8B4513;"  data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand"  style="color:blue;font-size:20px ;">Our Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="/home2"routerLinkActive="active"class="nav-link" >Home</a>
            </li>
          
            <li class="nav-item">
              <a routerLink="/about"routerLinkActive="active"class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact"routerLinkActive="active"class="nav-link">Contact</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search" id="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #p (keydown)="0">
            <button class="btn btn-success" (click)="search(p.value)">Search</button>
          </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
              <li class="nav-item"> 
                <a routerLink="/home"routerLinkActive="active"class="nav-link">Logout</a>
              </li>
              <li class="nav-item">
                <a routerLink="/favourite"routerLinkActive="active"class="nav-link">Favourites</a>
              </li>
              <li class="nav-item">
                <a routerLink="/myPurchases"routerLinkActive="active"class="nav-link">My Purchases</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/getProfile"routerLinkActive="active"class="nav-link">Profile</a>
                </li>
            
            </ul>
       
        </div>
      </div>
    </nav>
    <h2 style="text-align: center;color:white">Contact Us</h2>
    <div style="padding-top: 20px;">
    <section style="text-align: center;">
      <img src="../../assets/about/building.jpeg" height="300px" width="600px">
    </section>
 
    </div>

 
       <div style="padding-top: 20px;">
        <section>
       <table>
        <tr>
          <td>
            <img src="../../assets/contact/phone.png" height="50px" width="50px">
          </td>
          <td>
            <h3 style="color:white">953466545</h3>
          </td>

          <td rowspan="2" style="color:white">
            <div style="padding-left: 250px;">
            <p style="font-size: 30px;">Address</p>
            <p style="font-size: 21px;">NO.14 avenue park,Third Floor,<br>techpark,<br>Guindy,Chennai,<br>TamilNadu-600032.</p>
          </div>
          </td>
         <div style="padding-left: 60px;">
          <td>
            <img src="../../assets/contact/email.png" height="50px" width="50px">
          </td>
          <td>
            <h3 style="color:white">admin123@gmail.com</h3>
          </td>
        </div>
        </tr>
        <!-- <tr>
          <td>
            <img src="../../assets/contact/email.png" height="50px" width="50px">
          </td>
          <td>
            <h3 style="color:white">admin123@gmail.com</h3>
          </td>
        </tr> -->
        
        <tr>
          <td>
            <img src="../../assets/contact/tele1.png" height="50px" width="50px">
          </td>
          <td>
            <h3 style="color:white">Telegram</h3>
          </td>
          <div style="padding-left: 50%;">
          <td>
            <img src="../../assets/contact/twitter.png" height="50px" width="50px">
          </td>
          <td>
            <h3 style="color:white">Twitter</h3>
          </td>
          </div>
        </tr>
        
        
      
       </table>
 
    </section>
    </div>
<section></section>
    <footer>
        <p>Company @copyrights OurCompany. All rights reserved.</p>
      </footer>
      </body>
      </html>