table
{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    
}
td
{
    font-size: 20px;
    padding: 10px;
}
.td1
{
    color: white;
}
.td2
{
    color: white;
}
#btn
{
    text-align: right;
}

body
{
    background-image: url("../../assets/admin/adminbg.jpg");
    height: 700px;
}
footer
{
    position: fixed;
    bottom:0;
    width:100%;
    height: 40px;
    background-color:#8B4513;
    text-align: center;
    color:white;

}
#search
{
    padding-left: 20%;
}
#reg
{
    padding-left: 15%;
}
