<html>
    
<body>
    <div class="container">

    <h1>Forget Password Page</h1>
    <h4 style="text-align: right;color:green;">If you remember ,GoTo <button class="btn btn-primary" (click)="back()" >Login</button></h4>
        


    <form (ngSubmit)="f.form.valid&&OnSubmit()" #f="ngForm" novalidate>
        
        <div>
    <table class="container">
        <tr>
            <td rowspan="15">
                <img src="../../assets/login/loginIcon.png" alt="Image is Deleted" height="500" width="200">
            </td>
        </tr>  

    <tr>
    <td>
    <label for="pw">New PassWord  : </label>
    </td>
    </tr>
    <tr>
    <td>
    <input Style="padding: 15px;border-radius: 25px;"type="password" id="pw" name="pw" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" placeholder="PassWord" required [(ngModel)]="password" #p (keydown)="0" #pw="ngModel"/><br>
    <span class="text-danger" *ngIf="this.submit&&pw.errors?.['required']">
        <p>Pleace Fill the Box</p>
    </span>
    <span class="text-danger" *ngIf="this.submit&&pw.errors?.['pattern']">
        <p>Password must want to collection of numbers,symbols,letters</p>
    </span>
    <span class="text-danger" *ngIf="this.submit&&pw.errors?.['minlength']">
        <p>Password required min 8 charecter length</p>
    </span>
    
    </td>
    </tr>
    <tr>
        <td>
        <label for="pw1">Confirm PassWord  : </label>
        </td>
        </tr>
        <tr>
        <td>
        <input Style="padding: 15px;border-radius: 25px;" type="text" id="pw1" name="pw1" placeholder="Confirm PassWord" required #n (keydown)="0" [(ngModel)]="password1" /><br>
            
        </td>
        </tr>
        <tr>
            <td *ngIf="(p.value!=n.value)&&this.submit" colspan="2">
                <span style="color: red;">The password and Confirm Passwod Must Be Same</span>
            </td>
        </tr>
    <tr>
    <td>
    <input type="submit" class="btn btn-primary" value="Confirm" (click)="submit=true" />
    </td>
    <td>
        <button (click)="back()" class="btn btn-danger">Back</button>
    </td>
    </tr>

    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>
    <tr>
        <td style="color:black;">.</td>
    </tr>

    </table>
    </div>
    </form>
    </div>
    </body>
    </html>