<html>
<body>

  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="hgfghf"routerLinkActive="active"class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#"routerLinkActive="active"class="nav-link">About </a>
        </li>
        <li class="nav-item">
          <a href="#1"routerLinkActive="active"class="nav-link">Contact </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register"routerLinkActive="active"class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/loginOption"routerLinkActive="active"class="nav-link">Login</a>
        </li>
      </ul>
    </nav> -->
    <nav class="navbar navbar-expand-lg  "style="background-color: #8B4513;" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand"  style="color:blue;font-size:20px ;">Laptop shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="/home"routerLinkActive="active"class="nav-link">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/about1"routerLinkActive="active"class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact1"routerLinkActive="active"class="nav-link">Conatct</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search" id="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" #p (keydown)="0">
            <button class="btn btn-success" (click)="serch(p.value)">Search</button>
          </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
              <li class="nav-item">
                  <a routerLink="/loginOption"routerLinkActive="active"class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/register"routerLinkActive="active"class="nav-link">Register</a>
                </li>
            </ul>
       
        </div>
      </div>
    </nav>
   
    <marquee direction="left" behavior="alternate">This is Our Company You get All products </marquee>
    <div class="galary" *ngFor="let laptop of laptopList">
      <button (click)="getLaptopById()">
      <img src="{{laptop.LaptopImg}}" height="200" width="200"/>
      <div class="disc">
      <p>{{laptop.laptopName}}</p>
      <p>Price : {{laptop.price}} .Rs</p>
      </div>
      </button>
      </div>
 
    <footer>
      <p>Company @copyrights OurCompany. All rights reserved.</p>
    </footer>
   
    <!-- <div>
    
    <h3>Categories</h3>
    <table [cellPadding]="30" class="container">
      <tr>
        <td>
          <button>
          <img src="../../assets/carBody.jpg" height="100px" width="100px" alt="Image not fount">
          <p>Body Frame</p>
          </button>
        </td>
        <td>
          <button>
            <img src="../../assets/engine1.jpg" height="100px" width="100px" alt="Image not fount">
            <p>Engine Parts</p>
          </button>
          </td>
          <td>
          <button>
            <img src="../../assets/wheel.png" height="100px" width="100px" alt="Image not fount">
            <p>Wheels</p>
    </button>
    </td>
    <td>
            <button>
              <img src="../../assets/lights1.jpg" height="100px" width="100px" alt="Image not fount">
              <p>Lights</p>
          </button>
          </td>
          <td>
              <button>
                <img src="../../assets/oil.png" height="100px" width="100px" alt="Image not fount">
                <p>Oil</p>
          </button>
        </td>
        </tr>
        <tr>
        <td>
          <button>
                  <img src="../../assets/wheel.png" height="100px" width="100px" alt="Image not fount">
                  <p>Wheels</p>
          </button>
          </td>
          <td>
          <button>
            <img src="../../assets/tires.jpg" height="100px" width="100px" alt="Image not fount">
              <p>Tires</p>
          </button>
          </td>
          <td>
        <button>
          <img src="../../assets/transmission.jpg" height="100px" width="100px" alt="Image not fount">
          <p>Transmission</p>
        </button>
        </td>
        <td>
        <button>
        <img src="../../assets/service.jpg" height="100px" width="100px" alt="Image not fount">
        <p>Service</p>
        </button>
      </td>
      </tr>
    </table>
    </div>-->
      <!-- <footer>
      <p>Company @copyrights OurCompany. All rights reserved.</p>
    </footer>-->
    </body>
    </html> 