<html>
    <body>
        <div>
            <table>
                <tr>
                    <td rowspan="4">
                        <img src="../../assets/oops/oopsIcon.png" height="600" width="500">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 70px;">Sorry </p>
                        <h2>404<br>Page Not Found</h2>
                        <br>
                        <p>Somthing want wrong in our Side..<br>Try Again Later..</p>
                        <br><br>
                        <button class="btn btn-primary" (click)="goToHome()">Home</button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>