footer
{
    position: fixed;
    bottom:0;
    width:100%;
    height: 40px;
    background-color:#8B4513;
    text-align: center;
    color:white;

}
.galary:hover
{
 border:2px solid red;
 
}
.disc

{
padding:25px;
text-align:center;
}

.galary
{
float:left;
margin:30px;
width:200px;
border:3px solid red;
}
body
{
    background-image: url("../../assets/home/bg1.jpg");
    
  height: 1400px;

      
}
marquee
{
  color:white;
  font-size: 25px;
  border: solid 5px;
}
#search
{
    padding-left: 20%;
}
#reg
{
    padding-left: 30%;
}